<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relaxr</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="header">
       <div class="logo"> <img src="../imgs/relaxr-logo-white.svg" width="100px" ></div>
       <div class="navigation">
           <nav> 
               <div>About</div>
               <div>FAQ</div>
               <div>Team</div>
               <div>Contact us</div>
               <div>Blog</div>
           </nav>
       </div>
       <!-- <div class="clearfix"></div> -->
   </div> 

   <div class="grid">
       <div class="container">
           <div class="item1">
               <h2>How I implemented Relaxr in 2 weeks and changed my life</h2>
               <img src="../imgs/blog_photo1.jpg" alt="">
               <article> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam dolorem assumenda reprehenderit hic labore incidunt quidem quas beatae sequi sunt rerum excepturi sit tempore obcaecati velit ratione, voluptatibus quod quaerat! </article>
               <a href="#">Read More</a>
           </div>
           <div class="item2">
               <h2>I traveled across the globe thanks to Relaxr’s Excel automation</h2>
               <img src="..//imgs/blog_photo2.jpg" alt="">
               <article> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas unde esse tempore saepe maiores dolorem, repudiandae praesentium labore iure illum minus adipisci cum? A autem ratione ipsum quod, soluta architecto? </article>
               <a href="#">Read more</a>
           </div>
       </div>

       <div class="sidebar">
           <div class="side1">
               <h3> Categories
                   <li>Success Stories</li>
                   <li>Stats</li>
                   <li>How Tos</li>
                   <li>Best of Business Tips</li>
               </h3>
           </div>
           <div class="side2">
               <h3> About Relaxr
                   <p>Proin sed justo vel sapien varius auctor. Proin scelerisque massa at luctus tincidunt. Fusce porttitor, sapien sed tincidunt fringilla.</p>
                   <a href="#" class="Learn">Learn More</a>
               </h3>
           </div>
           <div class="ads" ><img src="../imgs/1ad.gif" alt=""><img src="../imgs/ipad.gif" width="300px" alt=""></div>
       </div>
   </div>

   <div class="footer">
       <div class="block"> <a href="#" class="sign-up">SIGN UP NOW !</a> </div>
       <div class="edge">
           <img src="../imgs/relaxr-logo-yellow.svg" height="150" width="150">
           <div class="social">
           <img src="../imgs/facebook.png" >
           <img src="../imgs/twitter.png" >
           </div>
           <div class="text">Cpyright.2015.Relaxr.</div>

       </div>
   </div>
   

</body>
</html>